.content-area {
	margin: 100px 170px;
	padding: 80px 140px; 
	border: 1px solid #EEEEEE;
	background: #FFFFFF;
	box-shadow: 0 15px 32px rgba(0, 0, 0, 0.14);
}

.site-main {
	margin-left: 0;
	margin-right: 0;
}