
.site-content {
	padding: 100px 0;

	.page-template-template_page-builder & {
		padding: 0;
	}
}

.sticky {
	display: block;
}

.site-main {
	padding-right: 30px;

	.page-template-template_page-builder & {
		padding: 0;
	}	

	@include mqmax991 {
		padding-right: 0;
	}
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-title {
	a {
		color: #191919;

		&:hover {
			color: $color_primary;
		}
	}
}
/* Loop posts */
.single-post,
.blog-loop {

	.hentry {
		border-bottom: 1px solid #ebebeb;
		margin-bottom: 60px;
		padding-bottom: 60px;
	}

	.entry-header {
		margin-bottom: 30px;
	}

	.entry-title {
		margin: 20px 0 25px;
		font-size: 36px;
		
	}

	.post-thumbnail {
		display: block;
		margin-bottom: 35px;
	}	

	.entry-content {
		
		p {
			&:last-of-type {
				margin: 0;
			}
		}
	}
	
	.posted-on {
		display: table;

		a {
			color: $color_primary;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
	}

	.entry-meta {
		color: #bfbfbf;

		span {
			margin-right: 15px;

			&:last-of-type {
				margin-right: 0;
			}
		}

		.byline {
			font-size: 14px;

			a {
				color: #595959;
			}
		}

		.comments-number {
			font-size: 12px;
			text-transform: uppercase;
		}

		.cat-links {
			a {
				
			}
		}
	}

	.read-more-link {
		display: table;
		font-size: 13px;
		font-weight: 600;
		color: #191919;
		text-transform: uppercase;
		margin-top: 30px;

		.gt {
			margin-left: 10px;
			color: $color_primary;
		}
	}
}
.layout-masonry,
.layout-grid,
.layout-list {
	.entry-title {
		font-size: 24px;
		margin-bottom: 20px;
	}
}
.layout-masonry,
.layout-grid {

	.hentry {
		display: flex;
		padding-bottom: 0;
		margin: 0;
		border: 0;
	}

	.post-thumbnail {
		margin-bottom: 30px;
		margin: 0 -15px 30px;
	}

	.entry-title {
		margin-top: 15px;
	}

	.site-main {
		padding: 0;
	}

	.post-inner {
		box-shadow: 0px 23px 49px 0px rgba(61, 82, 96, 0.15);
		margin: 0 0 50px;
	}

	.post-info {
		padding: 0 30px 30px;

		@include mqmax767 {
			padding: 0 15px 15px;
		}
	}

	.entry-header {
		margin-bottom: 0;
	}
}
.layout-list {
	.post-thumbnail {
		margin: 0;

		@include mqmax767 {
			margin-bottom: 30px;
		}		
	}
	.flex {
		display: flex;

		@include mqmax767 {
			display: block;
		}			
	}
}
.grid-sizer {
	width: 33.333333%;

	@include mqmax991 {
		width: 50%;
		max-width: 50%;
		flex: 0 0 50%;
	}	

	.content-area:not(.layout-masonry) & {
		display: none;
	}
}
.layout-masonry {

	.row {
		margin: 0;
	}

	.site-main {
		padding: 0;
	}

	.hentry {
		display: block;

		&:first-of-type {
			width: 66.666667%;
			max-width: 66.666667%;

			@include mqmax991 {
				width: 50%;
				max-width: 50%;
			}

			@include mqmax767 {
				width: 100%;
				max-width: 100%;
				flex: 0 0 100%;
			}			
		}
	}
}

/* 404 */
.error404 {

	.site-content {
		background-color: #f7f7f7;
		padding: 120px 0;
	}

	.page-title {
		font-size: 160px;
		font-weight: 600;
	}

	.content-area {
		width: 100%;
	}
	
	.site-main {
		padding: 0;
		text-align: center;
	}
}

/* Search */
.search-results {
	
	.page-header {

		span {
			color: #b3b3b3;
		}
	}
}

/* Single - full width layout */

.content-area.layout-full {

	background-color: #fff;
	border: 1px solid #ebebeb;
	padding: 100px 200px;
	box-shadow: 0px 33px 49px 0px rgba(86, 115, 121, 0.15);

	@include mqmax991 {
		padding: 30px;
	}
}