.widget {
	margin: 0 0 45px;
	color: $color__text-main;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		.children {
			padding-left: 20px;
		}
	}

	a {
		color: $color__text-main;
	}
}
