#airi-onboarding {
  border: 0;
  padding: 30px;
  margin: 30px 20px 30px 0;
  position: relative;
}
.airi-logo {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
#airi-onboarding .info-title {
  margin-bottom: 30px;
}
#airi-onboarding .welcome-text {
  font-size: 16px;
}
#airi-onboarding .submit {
  display: flex;
  align-items: center;
  padding-bottom: 0;
}
#airi-onboarding .submit a:last-of-type {
  margin-left: 20px;
  color: #bcbfc4;
  text-decoration: underline;
  font-size: 16px;
}
#airi-onboarding .airi-message-close {
  text-decoration: none;
}
#airi-onboarding .airi-message-close::before {
  display: inline-block;
  vertical-align: middle;
}