
/* Contact form */
.theme-contact {

	&.agency-contact {
		max-width: 600px;
		margin: 0 auto;
		box-shadow: 0 25px 50px -15px rgba(0,0,0,0.15);	

		.agency-contact-button {
			&::after {
				background-color: #527ae6;
			}			
		}

	}

	&.corporate-contact {

		position: relative;
		box-shadow: 0 0 40px 15px rgba(0,0,0,0.2);
		z-index: 11;

		&::before,
		&::after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			box-shadow: 0 0 40px 15px rgba(0,0,0,0.2);	
			z-index: -10;		
			transition: all 0.4s;
		}

		&::before {
			top: -20px;
			right: -20px;
			background-color: rgba(255,255,255,0.5);
		}

		&::after {
			top: -40px;
			right: -40px;
			background-color: rgba(255,255,255,0.3);
		}

		&:hover {
			&::before,
			&::after {
				top: 0;
				right: 0;
			}
		}
	}

	.theme-contact-inner {
		padding: 50px;
		background-color: #fff;
	}

	textarea {
		border-color: #e8e5e5;
	}
	
	input {

		&:not([type="submit"]) {
			width: 100%;
			border-color: #e8e5e5;
		}
	}

	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.corporate-contact-button {
		text-align: center;
		display: table;
		position: relative;
		margin: 0 auto;

		&::after {
			position: absolute;
			left: 0;
			content: '';
			background-color: #ffe216;
			width: 100%;
			height: 8px;
			bottom: 20px;
		}

		input {
			position: relative;
			display: table;
			background-color: transparent;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 1px;
			padding: 0;
			z-index: 11;
		}		
	}
}

